{#
/**
 * @file
 * Theme override to display a menu.
 * Adds classes to indicate child levels
 *
 * Documentation here: https://api.drupal.org/api/drupal/core!modules!system!templates!menu.html.twig/8.2.x
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('menu', 'menu-level--0') }}>
    {% else %}
      <ul class="menu menu-level--{{ menu_level }}">
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          item.is_expanded ? 'expanded',
          item.in_active_trail ? 'active-trail',
        ]
      %}
      <li{{ item.attributes.addClass(classes) }}>
        {{ link(item.title, item.url) }}
        {% if item.is_expanded %}
          <button class="menu-trigger" aria-expanded="false">
            <span class="visually-hidden">{{'Expand menu' |t }}</span>
          </button>
        {% endif %}

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
